<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
<dict>  
  <key>method</key> 
  <dict>
      <key>App bundle id</key>
      <string>com.cygnismedia.thebarcodeapp</string>
  </dict>
  <key>signingCertificate</key>
  <string>67278260-4839-BF60-6027-06702779640F</string>  
</dict>  
</plist> 