<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TheBarCode</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>11.0.2-DEV</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>BundleID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.cygnismedia.thebarcodeapp.rn</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Dynamic Link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>thebarcodeapp.page.link</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Dynamic Link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>thebarcode.page.link</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Dynamic Link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>barcodeoffer.page.link</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb182951649264383</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.cygnismedia.thebarcodeapp.rn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.cygnismedia.thebarcodeapp.rn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>thebarcode-dev.cygnis.dev</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>39</string>
	<key>FacebookAppID</key>
	<string>182951649264383</string>
	<key>FacebookClientToken</key>
	<string>7512a7a688a86e21bf2b51d6f574ab9c</string>
	<key>FacebookDisplayName</key>
	<string>TheBarCode</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is required to scan barcodes</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts access is required to invite frriends in our app.</string>
	<key>NSLocationAccuracyUsageDescription</key>
	<string>TBC needs your location to show you great bars near you</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>TBC needs your location to show you great bars near you</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>TBC needs your location to show you great bars near you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>TBC needs your location to show you great bars near you</string>
	<key>NSNotificationsUsageDescription</key>
	<string>TBC needs your notification permission to send you notification about great deals and offers</string>
	<key>UIAppFonts</key>
	<array>
		<string>ProximaNova-Bold.ttf</string>
		<string>ProximaNova-Regular.ttf</string>
		<string>ProximaNova-Semibold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
<array>
     <string>worldpay-scheme</string> 
	    <string>worldpay-scheme://</string>
		<string>worldpay-scheme://response</string> 
		<string>worldpay-scheme://response?PaRes=IDENTIFIED</string>
</array>
</dict>
</plist>
